<footer class="footer">
    <div class="footer-content grid grid-nogutter">
        <div class="col-12 md:col-6 flex flex-column align-items-stretch justify-content-start gap-5">
            <div class="footer-logo">
                <img src="/images/logo_footer.png" alt="">
            </div>
            <div class="flex flex-column align-items-stretch justify-content-start gap-3">
                <div class="flex align-items-start gap-2">
                    <i class="pi pi-map-marker mt-1"></i>
                    <span><strong>Địa chỉ:</strong> Xóm 7, thôn Phương Nhị, xã Dân Hòa, Hà Nội</span>
                </div>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-envelope"></i>
                    <span><strong>Email:</strong> supports.antjsc@gmail.com</span>
                </div>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-phone"></i>
                    <span><strong>SĐT:</strong> 088 6929 185</span>
                </div>
                <!-- <div class="flex align-items-center gap-2">
                    <i class="pi pi-id-card"></i>
                    <span><strong>MST:</strong> (Đang cập nhật)</span>
                </div> -->
            </div>
        </div>
        <div class="col-12 md:col-6 flex flex-column align-items-stretch justify-content-start gap-6">
            <div class="flex align-items-start justify-content-start gap-4 flex-wrap">
                @for (item of menuItems; track $index) {
                    <a [routerLink]="item.route" class="nav-link-footer">
                        <p>{{ item.label }}</p>
                    </a>
                }
            </div>
            <div class="flex align-items-center justify-content-start gap-5">
                <span>Theo dõi chúng tôi</span>
                <div class="flex align-items-center justify-content-start gap-3">
                    <a  href="https://www.facebook.com/profile.php?id=61579424717201"
                        target="_blank"
                        class="flex align-items-center justify-content-start no-underline bg-transparent">
                        <i class="pi pi-facebook text-4xl text-white"></i>
                    </a>
                    <i class="pi pi-tiktok text-4xl"></i>
                    <i class="pi pi-instagram text-4xl"></i>
                </div>
            </div>
            
            <div class="flex flex-column align-items-start justify-content-start gap-2">
                <h3>Tải xuống ứng dụng</h3>
                <div class="flex flex-column md:flex-row align-items-start justify-content-start gap-0 md:gap-3">
                    <a href="https://play.google.com/store/apps/details?id=" target="_blank">
                        <img src="/images/GooglePlay.svg" alt="">
                    </a>
                    <a href="https://apps.apple.com/us/app/ant/id" target="_blank">
                        <img src="/images/AppStore.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; {{ currentYear }} ANT JSC. All rights reserved.</p>
    </div>
</footer>